:root {
  --color-black: #000;
  --color-white: #fff;
  --color-background: #f8924e;
  --max-width: min(90dvw, 40rem);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

.dark-mode {
  background-color: var(--color-black);
  color: var(--color-white);
}

.hide {
  display: none;
}

body {
  margin-block: 0;
  margin-inline: 2dvw;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-black);
}

.header,
.section {
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
}

.header {
  padding-block: 1rem;
}

.nav {
  padding-inline-end: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  text-align: center;
}

/* .paragraph {
  max-width: 950px;
  width: 100%;
  margin-inline: auto;
  font-size: clamp(16px, 4vw, 18px);
  line-height: clamp(20px, 4vw, 22px);
  text-align: center;
} */
